*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #808e9b;
    overflow-x: hidden;
}

.nav{
    width:100vw;
    height:70px;
    display: flex;
    justify-content: center;
    place-items: center;
    line-height: 70px;
    background-color: #485460;
    text-align: center;
    color:white;
}
.parent_div{

    width: 100vw;
    /* height:100vh; */
    display: flex;
    /* flex-direction: row-reverse; */
    /* overflow-y: hidden; */
    justify-content: center;
    /* place-items: center; */
}

.form_side{
    width: 40vw;
    /* height:600px; */

}

.post_side{
    padding-top: 50px;
    width: 100vw;
    /* height: 90vh; */
    /* overflow-y: scroll; */
    display: flex;
    /* justify-content: space-evenly; */

    /* place-items: center; */
    /* flex-direction: column; */
    /* margin-top: 50px; */
}

@media only screen and (max-width: 600px) {
    .form_side{
        width: 100vw;
    }
}